<h1>{{title}}</h1>
<br>
<h3>The app that supports you through life's moments.</h3>
<br>
<h4>Before moments:</h4>
  <form action="/beforegame/" method="get">
    <input type="submit" value="Before a Sports Game"
    name="Submit" id="frm1_submit" />
  </form>
<br>
  <form action="/beforedate/" method="get">
  <input type="submit" value="Before a Date"
  name="Submit" id="frm2_submit" />
<br>
 <form action="/beforespeech/" method="get">
  <input type="submit" value="Before a Speech"
  name="Submit" id="frm3_submit" />
<br>
<h4>After moments:</h4>
 <form action="/afterhardday/" method="get">
  <input type="submit" value="After a Hard Day"
  name="Submit" id="frm4_submit" />
<br>
 <form action="/afterbreakup/" method="get">
  <input type="submit" value="After a Break-up"
  name="Submit" id="frm5_submit" />
<br>
 <form action="/afterdrinks/" method="get">
  <input type="submit" value="After a few drinks"
  name="Submit" id="frm6_submit" />
